@{
    ViewBag.Title = "Home Page";
}

<div class="row justify-content-md-start">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Wellcome
            </div>
            <div class="card-body">
                Hoşgeldin Admin
                Products : @Html.ActionLink("Index","Products")
            </div>
        </div>

    </div>
</div>